.top {
    background: white;
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
}

.top > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials , .profile {
    flex: 3;
}

.nav {
    flex: 6;
}

.nav ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav ul li {
    font-weight: 300;
    font-size: 18px;
    margin-right: 20px;
    cursor: pointer;
}

.socials i {
    font-size: 20px;
    margin-right: 15px;
    color: #444;
    cursor: pointer;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.profile i {
    font-size: 20px;
    color: #666;
    cursor: pointer;
    margin-left: 15px;
}